@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Condensed", sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-btw {
    justify-content: space-between;
}

.gap {
    gap: 40px;
}

.btn {
    background-color: #006464;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/* top-card */
.form_card {
    padding-bottom: 40px;
}

.form_label {
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}

.form_section {
    padding: 50px 0;
}

.wrapper {
    background-color: #dc142d;
    border-radius: 30px;
    color: white;
    padding: 30px;
}

.section_title>h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 34px;
}

.form_input {
    padding: 8px 5px;
}

/* ticket-card */

.ticket_info-title {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
}